<h1>Add a new Book</h1>

<form action="/books" method="post">
    <label for="title">Title:</label>
    <input class="input" type="text" name="title" required="true" id="title">

    <label for="author">Author:</label>
    <input class="input" type="text" name="author" required="true" id="author">

    <input type="submit" value="Save">

</form>